* {
    margin: 0;
    padding: 0;

}

html {
    font-size: 62.5%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: rgb(138, 148, 182);
}
header{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
h1{
    font-size: 3rem;
    color: white;
    text-shadow: 0.2rem 0.2rem 0.5rem black;
}
.client{
    display: flex;
    flex-direction: column;
}

input{
    margin: 10px;
}

#validez__presupuesto{
    display: none;
}